<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <style>
    h1 {text-align: center; font-size: 50px;}
    body {text-align: center;}
    </style>
</head>

<body bgcolor="#98c3e5" style="color:rgb(19, 52, 72)">
    <header><br><br><br>
        <h2> HEalthy Long PERsist </h2>
        <h1> HELPER </h1>
    </header>
    <section>
        <br><br><br><br><br><h1> 루틴 분석이 완료 되었습니다. </h1><br><br><br><br><br>
        <a onclick="window.location.href='/member/myRoutine'" target="_self"><input value="나의 루틴 확인하기>>" type="submit" name="Body_check" style="font-size: 25px; font-family: BMJUA; background: #b0e0e6"></a><br><br><br><br>
        <a onclick="window.location.href='/member/reEnterMS'" target="_self"><input value="바디체크 다시 하기" type="submit" name="Body_check" style="font-size: 25px; font-family: BMJUA; background: #b0e0e6"></a>
    </section>
</body>
</html>




