<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>글 삭제 여부</title>
  <link href="style.css" rel="stylesheet">
  <style>
    h1 {
      text-align: center;
    }

    body {
      text-align: center;
      font-size: 20px;
    }

    input {
      font-family: "BMJUA";
    }

  </style>
  <h2>HEalthy Long PERsist</h2>
  <h1> HELPER </h1>
</head>
<br><br>

<body bgcolor="#98c3e5" style="color:rgb(19, 52, 72)">
<h2>진짜 삭제할거야?</h2>
<br><br>
  <td>
    <form id="deleteProgress" th:action="@{'/community/deleteNotice'}" th:object="${deleteCommunityForm}" method="post">
      Password  : &nbsp;<input type="password" style="font-size: 20px; background: #b0e0e6" th:field="*{ot_password}"><br><br><br><br><br>
      <input type="hidden" name="_method" value="delete"/>
      <button id="delete">deleteProgress</button>
    </form>
  </td>
</body>
</html>