<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weight Chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-trendline"></script>

</head>
<body>
    <div id="chartWindow">
        <canvas id="myChart"></canvas>
    </div>
    <script th:inline="javascript">
        (async function() {
            let data = [];
            /*[# th:each='dailyWeight: ${HistoryList}']*/
            data.push({
                date: /*[[${dailyWeight.make_date}]]*/,
                currentWeight: /*[[${dailyWeight.his_weight}]]*/,
                expectedWeight: /*[[${dailyWeight.his_career}]]*/
            });
            /*[/]*/
            let chart = new Chart(
                document.getElementById('myChart'),
                {
                    type: 'line',
                    data: {
                        labels: data.map(row => row.date),
                        datasets: [
                            {
                                label: '실제체중',
                                data: data.map(row => row.currentWeight),
                                borderColor: '#ff0000',
                                trendlineLinear: {
                                    colorMin: "green",
                                    colorMax: "green",
                                    lineStyle: "dotted|solid",
                                    width: 2
                                }
                            },
                            {
                                label: '내 경력',
                                borderColor: '#0000ff',
                                data: data.map(row => row.expectedWeight)
                            }
                        ]
                    },
                    options: {
                        animation: false,
                        scales: {
                            x: {
                                axis: 'x',
                                title: {
                                    display: true,
                                    text: '날짜'
                                },
                                ticks: {
                                    //X축에서 날짜 생략
                                    callback: function (value, index, ticks) {
                                        const X_AXIS_LABEL_SKIP = 5
                                        return (index % X_AXIS_LABEL_SKIP)
                                            ? "" : data[index].date
                                    }
                                }
                            },
                            y: {
                                axis: 'y',
                                title: {
                                    display: true,
                                    text: '단위: kg'
                                }
                            }
                        }
                    },
                }
            );
        })();
    </script>
</body>
</html>