
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login page</title>
    <link href="style.css" rel="stylesheet">
    <style>
        h1 {text-align: center;}
        h2 {text-align: center; font-size: 50px;}
        body {text-align: center;}
        input {color:rgb(26, 77, 109);
            font-family: "BMJUA";
        }
    </style>
    <script src = "login.js"></script>
</head><br><br><br>
<h1>HEalthy Long PERsist</h1>
<h2> HELPER </h2>
<br>

<body bgcolor="#4682b4" style="color:rgb(19, 52, 72)"><br><br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

<br><br><br>
<input value="로그인" type="submit" name="login" id="l" style="font-size: 20px; background: #b0e0e6" onclick="window.location.href='/login'">
<!--아이디/패스워드 판별 위해 js로 보내기-->
<input value="회원가입" type="submit" name="join" id="j" style="font-size: 20px; background: #b0e0e6" onclick="window.location.href='/signup'">
<!--회원가입 페이지로 이동-->

</body>
</html>